<%- include ('partials/header') %>
<%- include ('partials/navbar') %>

<div class="d-flex align-items-center min-vh-100 justify-content-center">
	<span class="border border-white">
		<div class="bg-light">
			<form action="/login" method="POST">
				
				<div class="form-floating mb-3"> <!-- w-25 -->
					<input type="text" class="form-control" id="floatingInput" placeholder="Login" name='login'>
					<label for="floatingInput">Login</label>
				</div>

				<div class="form-floating mb-3">
					<input type="password" class="form-control" id="floatingPassword" placeholder="Password" name='password'>
					<label for="floatingPassword">Password</label>
				</div>

				<center>
					<button class="btn btn-primary ZalogujSubmit" type="submit">Zaloguj się</button>
				</center>

			</form>
				
			<center>
				<a class="nav-link active" aria-current="page" href="/register">Nie masz konta?</a>
			</center>
		</div>
	</span>	
</div>
	
	
<%- include ('partials/footer') %>