<%- include ('partials/header') %>
<%- include ('partials/navbar') %>	


<!-- Jeżeli tło miałoby być ciemniejsze, do ostatniego diva od tekstu wrzucić bg-light -->

  <div class="d-flex align-items-center min-vh-100 grad-anim" style="padding-top: 20px">
	<div class="container p-3 borderList bg-light">
	  <div class="row justify-content-md-center">
		<div class="col col-lg-5 d-flex justify-content-center align-items-center"> <!-- zdjęcie tymczasowe -->
		  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/Paint.NET_Gui_v.4.0.21_%28Windows_10%29.png/1200px-Paint.NET_Gui_v.4.0.21_%28Windows_10%29.png" class="img-fluid" >
		</div>
		<div class="col-lg-3">
		  
		</div>
		<div class="col col-lg-4">
		  Tablica IO jest projektem rewolucyjnym pod względem zdalnej dydaktyki XXI wieku. Wydawałoby się, że firma Microsoft wpadła na ten pomysł jako pierwsza - otóż nic bardziej mylnego! Możnaby szukać wynalazcy tej technologii długimi latami, możnaby użyć wikipedii - lecz wszystko to jest bezcelowe, w przeciwieństwie do wypełniania tej części strony tekstem. Warto zadać pytanie - czemu nie użyć Lorem Ipsum? Jest to słuszne pytanie, chociaż takie na które nigdy nie otrzymamy odpowiedzi. Jeżeli doczytałeś ten inspirujący tekst do końca nie będziemy Ciebie już zatrzymywać - nie krępuj się i wypróbuj naszą tablicę! 
		</div>
	  </div>
	 </div>
  </div>

<%- include ('partials/footer') %>