<%- include ('partials/header') %>
<%- include ('partials/navbar') %>

<div>
	<div class="d-flex align-items-center min-vh-100 justify-content-center">
		<span class="border border-white">
			<div class="bg-light" >	
				<form action="/register" onsubmit="return validate()" method="POST" id="reg-form">					
					<center><span id="informacja"></span></center>
					<div class="form-floating mb-3"> <!-- w-25 -->
						<input type="text" name="name"  class="form-control" id="imie" placeholder="Imie" required>
         		<label for="imie">Imie</label>
					</div>

					<div class="form-floating mb-3"> <!-- w-25 -->
						<input type="text" name="lastName" class="form-control" id="nazwisko" placeholder="Nazwisko"  required>
						<label for="nazwisko">Nazwisko</label>
					</div>

					<div class="form-floating mb-3"> <!-- w-25 -->
						<input type="text" name="username" class="form-control" id="floatingInput" placeholder="Login"  required>
						<label for="floatingInput">Login</label>
					</div>
					
					<div class="form-floating mb-3">
						<input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password" minlength="8" maxlength="32"  required>
						<label for="floatingPassword">Hasło</label>
					</div>

					<div class="form-floating mb-3">
						<input type="password" class="form-control" id="floatingPassword2" placeholder="Confirm password" minlength="8" maxlength="32" required>
						<label for="floatingPassword2">Zatwierdź Hasło</label>
					</div>

					<center>
						<button class="btn btn-primary" type="submit">Zarejestruj się</button>
					</center>

				</form>
				
				<script>

					function validate() {
						const imie = document.getElementById('imie').value 
						const nazwisko = document.getElementById('nazwisko').value 
						const login = document.getElementById('floatingInput').value // W razie jakby pozniej bylo potrzeba
						const haslo = document.getElementById('floatingPassword').value
						const haslo2 = document.getElementById('floatingPassword2').value
						var RegImie = /^[A-ZĄĆĘŁŃÓŚŹŻ]{1}[a-ząćęłńóśźż]+$/;
						var RegNazw = /^([A-ZĄĆĘŁŃÓŚŹŻ]{1}[a-ząćęłńóśźż]+){1}(-{1}[A-ZĄĆĘŁŃÓŚŹŻ]{1}[a-ząćęłńóśźż]+){0,1}$/;
						if(!RegImie.test(imie))
						{
						alert("W imieniu występuje błąd. Upewnij się, że zaczyna się ono z dużej litery i nie ma żadnych spacji");
						return false;
						}
						else if(!RegNazw.test(nazwisko))
						{
						alert("W nazwisku występuje błąd. Upewnij sie, że zaczyna się ono z dużej litery, a jeśli jest podwójne, to sprawdź czy jest oddzielone myślnikiem (np. Kowalski-Kmicic)");
						return false;
						}
						else if(login.includes(' '))
						{
						alert("Login nie może mieć spacji");
						return false;
						}
						else if(haslo.includes(' '))
						{
						alert("Haslo nie może mieć spacji");
						return false;
						}
						else if(haslo!=haslo2)
						{
						alert("Hasla sa różne");
						return false;
						}
						return true;
					}
				</script>
			</div>	
		</span>
	</div>
</div>
	

<%- include ('partials/footer') %>
