<!Doctype html>
<HTML>
    <HEAD>
        <title>Main Page</title>
    </HEAD>
    <body>
        <p>user page</p>
        <a href="/user/<%= Math.floor(Math.random()*10)%>">przejscie do losowego usera</a></br>
        <a href="/login"> login page</a></br>
        <a href="/register"> register page</a></br>
        <p><%= info %></p>
    </body>
</HTML>