*{
    margin: 0;
    padding: 0;
}
/* body{
    height: 100vh;
} */

.center {
	display: flex;
	justify-content: center;
}

.bigfont{
	font-size: 40px;
}

.hideElement{
    display: none;
}

.borderHighlight{
    border: 1px solid silver;
}

.borderMain{
	border: 5px solid black;
}

.noPaddingAndMargin{
    margin: 0;
    padding: 0;
}

.noPaddingRight{
    padding-right: 0;
}

.scrollable{
    overflow-y: scroll;
    overflow-x: hidden;
}

.chatBoxMessagesHeight{
    height: 90%;
}

.chatBoxHeight{
    height: 10%;
}

.biedaHidden{
    visibility: hidden;
}