*{
    margin: 0;
    padding: 0;
}
/* body{
    height: 100vh;
} */

#canvas{
    background-color: red;
}

.hideElement{
    display: none;
}

.borderHighlight{
    border: 1px solid silver;
}

.noPaddingAndMargin{
    margin: 0;
    padding: 0;
}

.scrollable{
    overflow-y: scroll;
    overflow-x: hidden;
}