*{
    margin: 0;
    padding: 0;
}
/* body{
    height: 100vh;
} */

.fullwidth{
	width: 100%;
}

.center {
	display: flex;
	justify-content: center;
}

.bigfont{
	font-size: 40px;
}

.midfont{
	font-size: 20px;
}

.silverfont{
	color: silver;
}

.grad{
	background: linear-gradient(to right, #d9d9d9, white);
}

.grad-anim {
    background: linear-gradient(270deg, #ffffff, #d9d9d9);
	background-size: 400% 400%;

    animation: anim 15s ease infinite;
}

.grad-dark{
	background: linear-gradient(to right, #808080, black);
}

.grad-anim-dark {
    background: linear-gradient(270deg, #000000, #808080);
	background-size: 400% 400%;

    animation: anim 15s ease infinite;
}

@keyframes anim {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.hideElement{
    display: none;
}

.borderHighlight{
    border: 1px solid silver;
}

.borderHighlightRound{
    border: 1px solid silver;
	border-radius: 8px;
}

.borderList{
	border: 5px ridge silver;
	border-radius: 8px;
}

.borderList-black{
	border: 5px ridge black;
	border-radius: 8px;
}

.noPaddingAndMargin{
    margin: 0;
    padding: 0;
}

.noPaddingRight{
    padding-right: 0;
}

.noPaddingLeft{
    padding-left: 0;
}

.noPaddingHorizontal{
	padding-right: 0;
    padding-left: 0;
}

.scrollable{
    overflow-y: scroll;
    overflow-x: hidden;
}

.chatBoxMessagesHeight{
    height: 90%;
}

.chatBoxHeight{
    height: 10%;
}

.biedaHidden{
    visibility: hidden;
}
.wrapper404{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #2F3242;
}

svg {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -400px;
  }
  .message-box {
    height: 200px;
    width: 380px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: 50px;
    color: #FFF;
    font-family: Roboto;
    font-weight: 300;
  }
  .message-box h1 {
    font-size: 60px;
    line-height: 46px;
    margin-bottom: 40px;
  }
  .buttons-con .action-link-wrap {
    margin-top: 40px;
  }
  .buttons-con .action-link-wrap a {
    background: #68c950;
    padding: 8px 25px;
    border-radius: 4px;
    color: #FFF;
    font-weight: bold;
    font-size: 14px;
    transition: all 0.3s linear;
    cursor: pointer;
    text-decoration: none;
    margin-right: 10px
  }
  .buttons-con .action-link-wrap a:hover {
    background: #5A5C6C;
    color: #fff;
  }
  
  #Polygon-1 , #Polygon-2 , #Polygon-3 , #Polygon-4 , #Polygon-4, #Polygon-5 {
    animation: float 1s infinite ease-in-out alternate;
  }
  #Polygon-2 {
    animation-delay: .2s; 
  }
  #Polygon-3 {
    animation-delay: .4s; 
  }
  #Polygon-4 {
    animation-delay: .6s; 
  }
  #Polygon-5 {
    animation-delay: .8s; 
  }
  
  @keyframes float {
      100% {
      transform: translateY(20px);
    }
  }
  @media (max-width: 450px) {
    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -250px;
      margin-left: -190px;
    }
    .message-box {
      top: 50%;
      left: 50%;
      margin-top: -100px;
      margin-left: -190px;
      text-align: center;
    }
  }

  .mainPageAlert{
    padding-top: 1rem;
  }
  .mainPageAlert div div{
    margin-bottom: 0;
  }

  .footer{
    padding: .5rem;
    color: #000000;
  }

  .settingsControls{
    padding: 6px 12px;
  }

  .settingsControls input{
    border: none;
  }

.validateInfo{
	color: red;
}
